<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.shuyun.osgi.dev2.customer.dataobject.UserDO" alias="UserDO" />
        <typeAlias type="com.shuyun.osgi.dev2.customer.dataobject.AddressDO" alias="AddressDO" />
    </typeAliases>

	<mappers>
       <!-- <mapper resource="mybatis/mappers/user.xml"/>-->
    </mappers>


</configuration>